.section-header {
  --underline-offset: 0.3ch;

  text-decoration: underline;
  text-decoration-color: var(--bg-secondary);
  text-decoration-thickness: 0.25ch;
  text-underline-offset: var(--underline-offset);
  text-indent: 0.5rem;
}