/* Styles for the introduction section */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7ch;
    justify-content: center;
    height: 100vh;
}

/* Styles for the typewriter text */
.typewriter {
    color: var(--fg-secondary);
}

/* Styles for the profile section */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1ch;
}

/* Styles for the profile heading */
.profile h1 {
    margin-bottom: 0.5ch;
}

/* Styles for the profile headshot */
.headshot {
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--fg-primary);
}

/* Styles for the text section */
.text-section {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the text section horizontally */
    padding: 2 2rem; /* Add padding to create space on both sides */
}

/* Styles for the section header */
.section-header {
    color: var(--your-color); /* Customize the color if needed */
}

/* Styles for the contacts section */
.contacts {
    width: 40%;
    margin: 5ch auto 2ch auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2ch;
}

/* Styles for contact links */
.contacts a {
    width: 20%;
}

/* Styles for contact images */
.contacts img {
    width: 100%;
    vertical-align: middle;
    border-radius: 20%;
}

.contacts a:nth-child(1) img {
    width: 110% !important; 
}

.contacts a:nth-child(3) img {
    margin-left: -10px !important;
    width: 130% !important; 
}

/* Styles for the skills section */
.skills {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

/* Responsive adjustments for profile section on smaller screens */
@media only screen and (max-width: 520px) {
    .profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1ch;
    }
}

/* Responsive adjustments for padding on profile section */
@media only screen and (max-width: calc(600px + 4ch)) {
    .profile {
        padding: 0 2ch;
    }
}

/* Responsive adjustments for spacing between social links */
@media only screen and (max-width: 600px) {
    .contacts {
        gap: 1ch;
    }
}

/* Responsive adjustments for width and gap on smaller screens */
@media only screen and (max-width: 500px) {
    .contacts {
        width: 100%;
        gap: 0;
    }
}
