/* Root variables for color scheme */
:root {
  --bg-primary: #1C1C1C;
  --bg-secondary: #0D0D0D;
  --bg-header: rgba(28, 28, 28, 0.9);
  --fg-primary: rgba(255, 255, 255, 0.92);
  --fg-secondary: #BBBBBB;
  --fg-tertiary: #FF6666;
  --fg-varient: #FFB3B3;
  --error: #FF8C8C;

  color: var(--fg-primary);
  background-color: var(--bg-primary);

  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--fg-varient);
  border-radius: 0.4vw;
}

/* Global reset for margin, padding, and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for app content */
.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
}

/* Main content area */
main {
  flex: 1;
  margin: 4ch auto !important;
  width: 600px;
}

/* Hyperlink styles */
a {
  font-weight: 500;
  color: var(--fg-varient);
  text-decoration: inherit;
  transition: color 0.4s;
}

/* Hover effect on hyperlinks */
a:hover {
  color: var(--fg-tertiary);
}

/* Responsive adjustments for main content width on large screens */
@media only screen and (min-width: 1920px) {
  main {
    width: calc(100vw / 3) !important;
  }
}